# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Spark checkpoints
chk/

# Airflow logs & DB
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/simple_ath_mananger_passwords.json.generated

# Local configs
*.lock

# requiremetns files
requirements-lock.txt